@charset "UTF-8";

/* Link to materialize scss to only watch change on 1 file 'style.scss' with sass. */
@import "materialize";

/** */
/** Choix font */
/** */
  @font-face {
    font-family: "Raleway Black";
    src: url(/fonts/Raleway-Black.ttf) format("truetype");
    font-family: "Montserrat Light";
    src: url(/fonts/Montserrat-Light.ttf) format("truetype");
    font-family: "Montserrat Regular";
    src: url(/fonts/Montserrat-Regular.ttf) format("truetype");
  }

/* Déclaration des variables Scss */ 
  $font-Raleway : "Raleway Heavy", sans-serif;
  $font-Montserrat-Regular : "Montserrat Regular", sans-serif;
  $font-Montserrat-Light : "Montserrat Light", sans-serif;

/** */
/** */

/** Paramétrage comportement défilement vertical sur la page*/
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

/** Organisation de la page */
/**  HEADER    */
/**            */
header {
  background-image: url("/img/pexels-bongkarn-thanyakij-3740723.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-family: $font-Raleway;
    text-align: center;
    margin-top: 0;
    margin-bottom:0;
    padding-bottom: 2rem;
    color: $perso-white;
    font-size: 2rem;

    @media #{$medium-and-down}{
      font-size: 1.5rem;
    }
  }
  
  svg {
    width: 100vw;
    height: 30vh;

     text {
      stroke-width: 2;
      /*? extrémités des bordures arrondies */
      stroke-linecap: round;
      /* */
      fill: transparent;
      font-size: 110px;
      font-family: $font-Raleway;
      animation: textAnimate 3s ease-in-out;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;

      
      @media #{$medium-and-down}{
        font-size: 4.2rem;
        stroke-width: 1;
        animation: textAnimate 4s ease-in-out;
        animation-fill-mode: forwards;
      }

      @media #{$small-and-down}{
        font-size: 2rem;
        stroke-width: 1;
        animation: textAnimate 4s ease-in-out;
        animation-fill-mode: forwards;
      }
    }

    /** Animation du texte en SVG */
    @keyframes textAnimate {
      0% {
        stroke: #ff5656;
        stroke-dasharray: 0%, 100%;
        stroke-dashoffset: 30%;
        fill: transparent;
      }
      60% {
        stroke: #ff5656;
        fill: transparent;
      }
      100% {
        stroke: #ff5656;
        fill: #ff5656;
        stroke-dasharray: 100%, 0;
        stroke-dashoffset: 0%;
      }
    }
  }
  
}

/***/
/**  NAVBAR    */
/**            */

#navbar{
  z-index: 2; //obligation d'appliquer un z-index de la navbar supérieur à 0 pour éviter le recouvrement par les étoiles de la section compétences lors du scroll vertical de la page
}


/***/
/**  SECTION    */
/**            */

section{
  
  height: 70vh;

  h2{
    color: $perso-red;
    font-family: $font-Raleway;
    font-size: 3rem;
  }

  h3{
    color: $perso-dark-grey;
    font-family: $font-Montserrat-Regular;
    font-weight: 800;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  
  &#Connaissances{    
    ul {
      margin-left: 30px;

      p{
        color: $perso-grey;  
        font-family: $font-Montserrat-Regular;
        font-weight: 500;
        font-variant: small-caps;
        font-size: 1.2rem;
        margin-top: 0;
      }

      li {   
        text-align: center;
        
        div {
          padding: 0;
          height: 150px;
        }

        svg.star{
          width: 33px;

          use.star-checked{
            color: #FFC850;
            fill: #FFDC64;
            box-shadow: 0 0 0 rgb(0,0,0);
            animation: pulse 1s infinite ease-in-out;
            transform-origin: center;
         
            @keyframes pulse {
              0% {
                transform: scale(1.1);
              }
              50% {
                transform: scale(1);
              }
              100% {
                transform: scale(1.1);
              }
            }

            @media #{$medium-and-down}{
              width: auto;
              height: 20px;
            }
          }
          
          use.star-unchecked{
            color: rgb(153, 152, 152);
            fill: #CCC;

            @media #{$medium-and-down}{
              width: auto;
              height: 20px;
              margin-top:60px;
            }
          }
        }

        img{
          width: auto;
          max-height: 60px;

          &#JQUERY {
            height: 30px;
          }
        } 
      }
    }
  }
  
  article {
    p:nth-child(1){
      font-family: $font-Montserrat-Regular;
    }

    p:nth-child(2){
      color: $perso-red;
    }
  }

}

/***/
/***/


/***/
/**  FOOTER    */
/**            */
footer{
  background-color: lighten($perso-red, 5%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $navbar-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;

  img{
    max-height: $navbar-height*0.8;
    width: 50px;
    margin: 5px 10px 5px 10px;
    filter: hue-rotate(360deg);

    &#GitHub{
      filter: invert(100%);
    }

    &:hover{
      transform: scale(1.2);
    }
  }

  p{
    color: $perso-white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 20px;
  }
}

/* Classe utilisé pour rendre le footer fixe lorsque l'on a suffisament scrollé la page */
.fixed-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 100;
}

/***/
/***/

/*# sourceMappingURL=style.scss.map */
