/***************
    Nav List
***************/
.table-of-contents {

  font-variant-caps: small-caps;
  
  &.fixed {
      position: fixed;
    }
  
  // paramétrage couleur background pour lien actif
  li { 
    a {
      display: inline-flex;
      font-weight: 500;
      color: $perso-white;
      padding-left: 16px;
      line-height: 1.5rem;
      letter-spacing: .4;
  
      &:hover {
        color: lighten($perso-white, 20%);
        padding-left: 15px;
        border-left: 1px solid $primary-color;
      }

      &.active {
        font-weight: 900;
        font-size: 1.4rem;
        line-height: 1.5rem;
        padding-left: 14px;
      }
    }
  }   
}
